@import './base.css';
@import 'tailwindcss';

body {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0;
  height: 2rem;
  padding: 0.25rem 0.375rem;
  border-radius: 0.25rem;
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input:hover,
select:hover,
textarea:hover,
input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #ccc;
}

textarea {
  height: 5rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}
