@import './base.css';
@import 'tailwindcss';

body {
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

input,
select,
textarea {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 0;
  height: 2rem;
  padding: 0.5rem 1rem;
}

textarea {
  height: 5rem;
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}
